<div *ngIf="selectedCollections; else loading" class="collections-list">
    <mat-card
        *ngFor="let collection of selectedCollections"
        [routerLink]="['/collection', collection.id]" 
        class="collections-item"
        data-cy="collection"
    >
        <img 
          *ngIf="collection.coverUrl; else default_cover"
          class="collections-item__cover" 
          mat-card-image 
          [src]="collection.coverUrl"
          alt="Cover of an collection"
        >
        <ng-template #default_cover>
            <img class="collections-item__cover" mat-card-image src="../../../../assets/images/default-collection-cover.png" alt="default cover">
        </ng-template>
        <mat-card-header class="collections-item__header">
            <mat-card-title>{{ collection.title }}</mat-card-title>
            <mat-card-subtitle>{{ collection.description }}</mat-card-subtitle>
            <mat-chip-list>
                <mat-chip selected color="primary">{{ collection.topicName }}</mat-chip>
            </mat-chip-list>
        </mat-card-header>
        <mat-card-footer class="collections-item__footer">

        </mat-card-footer>
    </mat-card>
</div>
<ng-template #loading>
    <div class="loading">
        <mat-spinner diameter="34"></mat-spinner>
    </div>
</ng-template>