<div *ngIf="selectedItems; else loading" class="items-list">
    <mat-card 
      [routerLink]="['/collection', item.collectionId, 'item', item.id]" 
      *ngFor="let item of selectedItems" 
      class="items-list__item"
    >
        <img 
          *ngIf="item.coverUrl; else default_cover"
          class="items-list__item-cover"
          mat-card-image
          [src]="item.coverUrl"
          alt="Cover of an item"
        >
        <ng-template #default_cover>
            <img class="items-list__item-cover" src="../../../../assets/images/default-item-cover.png" mat-card-image alt="default cover">
        </ng-template>
        <mat-card-title class="items-list__item-title">{{ item.title }}</mat-card-title>
        <mat-card-content>
            <ul class="item-fields items-list__item-fields">
                <li *ngFor="let field of item.fullFieldVMs"
                    class="item-fields__item"
                >
                    <span class="item-fields__item-name">{{ field.name }}</span>
                    <span class="item-fields__item-value">{{ field.value | displayField:field.typeName }}</span>
                </li>
            </ul>
        </mat-card-content>
    </mat-card>
</div>
<ng-template #loading>
    <div class="loading">
        <mat-spinner diameter="34"></mat-spinner>
    </div>
</ng-template>